<h1 class="listing_title"> Subletters: </h1>
<div class="all_listings">
  <% @subletters.each do |subletter| %>
    <div class="listing_container">
      <h5> Name:  <%= subletter.name %> </h5>
      <h5> Email: <%= subletter.email %> </h5>
      <h5> Start Date: <%= subletter.startDate %> </h5>
      <h5> End Date: <%= subletter.endDate %> </h5>

    </div>
  <% end %>
</div>
