<h3>Your Subletter Profile</h3>
<p>Name: <%= @subletter.name if @subletter.name %></p>
<p>Email: <%= @subletter.email if @subletter.email %></p>
<p>Profile Picture:
	<%= link_to(image_tag(@subletter.avatar.medium.url), @subletter.avatar.url, target: '_blank') if @subletter.avatar? %></p>

