<div class="background-container">
	<div class="bg"> </div>
	<div class="subletter_profile">
		<div class="profile-title">Your Subletter Profile</div>
		<div><b>Name:</b> <%= @subletter.name if @subletter.name %></div>
		<div><b>Email:</b> <%= @subletter.email if @subletter.email %></div>
		<div><b>Profile Picture: </b>
			<%= link_to(image_tag(@subletter.avatar.medium.url), @subletter.avatar.url, target: '_blank') if @subletter.avatar? %></div>
	</div>
</div>
