
  <div class="signup-content">
    <div>Are you a Subletter or a Leaser?</div>
    <div class="signup-options">
      <%= link_to 'Subletter', new_subletter_registration_path %> || <%= link_to 'Leaser', new_user_registration_path %>
    </div>
  </div>
