<div class="login-content" id="user-profile">
  <div class="title">Your User Profile</div>
  <div>Name: <%= @user.name if @user.name %></div>
  <div>Email: <%= @user.email if @user.email %></div>
</div>
