<div class="background-container">
  <div class="bg"> </div>
  <% content_for :title do %>About<% end %>
  <div class="about-content">
    <!-- <div class="about-title">About:</div> -->
    <div class="about-item">
      Cal Housing is a place where students can find a place to sublet or lease from trustworthy people.
    </div>
    <div class="row">
      <div class="column">
        <h1 style="text-align:center"> Need some space? </h1> : Cal students can enter an address in mind and get a list of ideal listings.
      </div>
      <div class="column">
        <h1 style="text-align:center"> Need a subletter? </h1> :  Leasers can get exposure to students who need a place to sublet.
      </div>
   </div>
    <div class="about-item">
      : For a more convenient, trustworthy subleasing experience.
    </div>
  </div>
</div>
