<div class="about-container">
  <div class="bg"> </div>
  <% content_for :title do %>About<% end %>
  <div class="about-content">
    <h3>About the Website</h3>
    <div>
      Cal Housing is a place where students can find a place to sublet or lease from trustworthy people.
    </div>
  </div>
</div>
